doctype html
html
  head
    title Barcode to Inventory POC
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body.loading
    div.loading-overlay
      span.wheel
    div#app
        
      div#liveCapture.live-capture-container
        button.switch-camera Switch Live Camera
        button.scan-barcode Scan Barcode
        div#cameraOutput.camera-output
        
      div#photoCapture.photo-capture-container
        div.psuedo-photo-input Take Photo of Barcode
          input(type="file", accept="image/*", capture="camera")
        div.photo-output
      
      div#result
        pre.result-dump
    
    
    script(src="public/bundle.js", type="text/javascript")
