@import 'loadingwheel';

body {
  font-family: sans-serif;


}

div.loading-overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;

  span.wheel {
    @include loading-wheel(20px);
  }

  body.loading & {
    display: block;
  }
}


.camera-output canvas {
  display: none;
}

.live-capture-button {
  display: none;
}
.capture-photo-button {
  display: block;
}

.live-capture-container {
    display: none;
}

button {
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

body.live-support {
  .live-capture-button {
    display: block;
  }
  .capture-photo-button {
    display: none;
  }
}

.camera-output {
  video {
    width: 100%;
  }
}
